@model IEnumerable<EmployeeManagement.Models.JobTitle>

<h2>Lista de cargos de Emprego</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
            <tr >
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
                <th scope="col">CBO</th>
                <th scope ="col">Descrição da Atividade</th>
                <th scope="col">Data de Início</th>
                <th scope="col">Data de Término</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var jobTitle in Model)
            {
                <tr>
                    <td>@jobTitle.Id</td>
                    <td>@jobTitle.Name</td>
                    <td>@jobTitle.CBO</td>
                    <td>@jobTitle.ActivityDescription</td>
                    <td>@jobTitle.StartDate</td>
                    <td>@(jobTitle.TerminationDate != null ? jobTitle.TerminationDate : "")</td>
                    <td><a class="btn btn-danger btn-sm" asp-action="DismissJob" asp-route-id="@jobTitle.Id">Terminar Cargo</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

