@model IEnumerable<EmployeeManagement.Models.JobTitle>

<h2>Lista de Títulos de Emprego</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>CBO</th>
            <th>Descrição da Atividade</th>
            <th>Data de Início</th>
            <th>Data de Término</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jobTitle in Model)
        {
            <tr>
                <td>@jobTitle.Id</td>
                <td>@jobTitle.Name</td>
                <td>@jobTitle.CBO</td>
                <td>@jobTitle.ActivityDescription</td>
                <td>@jobTitle.StartDate.ToShortDateString()</td>
                <td>@(jobTitle.TerminationDate != null ? jobTitle.TerminationDate.Value.ToShortDateString() : "")</td>
            </tr>
        }
    </tbody>
</table>
