@using EmployeeManagement.Models;
@model List<EmployeeManagement.Models.Employee>

@{
    ViewData["Title"] = "Colaboradores Registrados";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

@if (Model != null && Model.Count > 0)
{
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Matricula</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => employee.RegisterNumber)</td>
                        <td>@Html.DisplayFor(m => employee.Name)</td>
                        <td>@Html.DisplayFor(m => employee.CPF)</td>
                        <td>
                            @if(employee.IsActive) {<a class="btn btn-primary btn-sm" asp-action="JobTitle" asp-route-id="@employee.Id" asp-controller="Employee">Adicionar cargo</a>
                            }
                            else
                            {
                                <a class="btn btn-dark btn-sm">demitido</a>
                            }
                            <a class="btn btn-info btn-sm" asp-action="JobHistory" asp-route-id="@employee.Id" asp-controller="Employee">Histórico de cargos</a>
                            <a class="btn btn-danger btn-sm" asp-action="DismissEmployee" asp-route-id="@employee.Id">Demitir</a>
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="alert alert-warning">Nenhum funcionário encontrado.</p>
}
